@charset "UTF-8";
/*
 * Author: Lukasz Cichocki / kerris.pl
 * kontakt@lukaszcichocki.pl
 */
body {
    font-size: 14px;
    position: relative;
    color: #525959;
    background-color: #FFF;
    overflow-x: hidden;
    width: 100%;
    padding: 0;
    margin: 0;
    font-weight: 400;
    font-family: 'nexa_bookregular';
}

.page-wrap {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    width: 1260px;
    padding-left: 30px;
    padding-right: 30px;
}

.header-general-menu {margin-top: 38px;}

.header-general-menu .menu-generalne-menu-container {}

ul#menu-generalne-menu {
    float: right;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: -4px;
}

ul#menu-generalne-menu > li {
    display: inline-block;
    float: left;
    padding: 8px 3px;
    position: relative;
}

ul#menu-generalne-menu > li > a {
    border-bottom: 3px solid transparent;
    /*transition: border-bottom 300ms ease-in-out;*/
}

ul#menu-generalne-menu > li:hover > a, ul#menu-generalne-menu > li.current_page_item > a, ul#menu-generalne-menu > li.current-menu-ancestor > a{
    color: #494949;
    border-bottom: 3px solid #de5405;
}

ul#menu-generalne-menu > li > ul.sub-menu {
    overflow: hidden;
    max-height: 0;
    position: absolute;
    list-style: none;
    padding: 9px 0px 0px 0px;
    top: 37px;
    z-index: 2;
    width: 300%;
    max-width: 275px;
    opacity: 0;
}

ul#menu-generalne-menu > li > ul.sub-menu > li {
    background-color: #de5405;
    position: relative;
    z-index: 20;
}

ul#menu-generalne-menu > li > ul.sub-menu > li > a {
    color: #FFF;
    display: block;
    text-align: center;
    border-bottom: 1px solid #FFF;
    padding: 4px 0;
    line-height: 26px;
    margin-left: 4px;
    margin-right: 4px;
}

ul#menu-generalne-menu > li a {
    font-size: 23px;
    text-transform: uppercase;
    padding: 0px 5px;
    color: #888888;
    text-decoration: none!important;
    font-family: 'nexa_light_italicitalic';
}

img.toplogo {
    display: block;
    margin: 10px 0;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

ul#menu-generalne-menu > li > ul.sub-menu > li:last-of-type > a {
    border: none;
}

ul#menu-generalne-menu > li > ul.sub-menu:before {content: "";position: absolute;display: block;width: 30px;height: 28px;border-left: 3px solid #DE5405;border-bottom: 3px solid #DE5405;border-top: 3px solid #DE5405;left: -11px;top: 1px;z-index: 1;}

ul#menu-generalne-menu > li:hover > ul.sub-menu {
    overflow: visible;
    max-height: 0;
    max-height: 1000px;
    opacity: 1;
    transition: max-height 500ms ease-in-out, overflow 1ms linear, opacity 100ms linear;
}

ul#menu-generalne-menu > li > ul.sub-menu > li:hover {
    background-color: #B94705;
}

.top-slider-bar {
    width: 100%;
}

div#topslider {}

div#topslider ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

div#topslider ul li {
    display: inline-block;
    width: 100%;
}
div#topslider ul .slide-box.pointer{
    cursor:pointer;
}
div#topslider ul .slide-box {
    position: relative;
}

div#topslider ul .slide-box .img-slide-box {
    width: 100%;
}

div#topslider ul .slide-box img {
    width: 100%;
    height: auto;
}

div#topslider ul .slide-box .label {
    background-color: #FFF;
    padding: 20px 25px 20px 10px;
    bottom: 20px;
    position: absolute;
    color: #525959;
    font-size: 34px;
    font-weight: 400;
    border: none;
    border-radius: 0;
    background-image: url(../images/label.jpg);
    background-repeat: repeat;
}

div#topslider ul .slide-box .label p:last-of-type {
    padding: 0;
    margin: 0;
}
footer {
    background-color: #e7e7e7;
    text-align: right;
    height: 28px;
    padding-top: 5px;
    font-style: italic;
}

footer a {
    color: #494949!important;
    text-decoration: none!important;
}
.col-title {
    text-transform: uppercase;
    font-size: 23px;
    text-align: center;
}

.color-orange {
    color: #de5405;
}

.page-content {
    padding-left: 30px;
    margin-right: 30px;
}

.col-content {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 40px;
}

.list-type-1 > a {
    font-size: 26px;
    display: block;
    width: 90%;
    margin: 0 10px 5px;
    padding: 4px 10px 2px 10px;
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
    font-family: 'nexa_bold_italicregular';
    text-decoration: none!important;
    transition: background-color 150ms linear;
}

.list-type-1 > a:hover {
    background-color: #de5405!important;
}

.list-type-2 a {
    display: block;
    margin-bottom: 45px;
}

.list-type-2 a > span {
    color: #de5405;
    text-transform: uppercase;
    font-size: 19px;
    float: right;
    margin-top: 10px;
    font-weight: 600;
    font-style: italic;
}

.col-contact {
    font-size: 19px;
    font-style: italic;
    color: #494949;
}

.col-contact a {
    font-family: 'nexa_boldregular';
    color: #494949;
}
.tpl-text-page {
    font-size: 19px;
    padding-bottom: 40px;
}

.tpl-text-page p {
    margin-bottom: 21px;
}
.tpl-contact-page {
    font-size: 19px;
}

strong {
    font-family: 'nexa_boldregular';
}

form.wpcf7-form {
    max-width: 100%;
    width: 560px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
}

form.wpcf7-form .fields-group .wpcf7-form-control::-webkit-input-placeholder {
    color: #FFF;
}
form.wpcf7-form .fields-group .wpcf7-form-control:-moz-placeholder {
    color: #FFF;
}
form.wpcf7-form .fields-group .wpcf7-form-control::-moz-placeholder {
    color: #FFF;
}
form.wpcf7-form .fields-group .wpcf7-form-control:-ms-input-placeholder {
    color: #FFF;
}

form.wpcf7-form .fields-group .wpcf7-form-control:focus::-webkit-input-placeholder {
    color: #de5405;
}
form.wpcf7-form .fields-group .wpcf7-form-control:focus:-moz-placeholder {
    color: #de5405;
}
form.wpcf7-form .fields-group .wpcf7-form-control:focus::-moz-placeholder {
    color: #de5405;
}
form.wpcf7-form .fields-group .wpcf7-form-control:focus:-ms-input-placeholder {
    color: #de5405;
}

form.wpcf7-form .fields-group {}

form.wpcf7-form .fields-group .wpcf7-form-control {
    width: 100%;
    border: 1px solid #494949;
    margin-bottom: 20px;
    height: 33px;
    padding: 7px 6px 3px 10px;
    color: #FFFFFF;
    background-color: #de5405;
    outline: none;
}
form.wpcf7-form .fields-group .wpcf7-form-control:empty {

}

form.wpcf7-form .fields-group .wpcf7-form-control.wpcf7-textarea {
    height: 158px;
    resize: vertical;
}

form.wpcf7-form .fields-group .wpcf7-form-control:focus{
    background-color: rgb(222, 84, 5);
    border: 1px solid rgb(222, 84, 5);
}

form.wpcf7-form .fields-group .wpcf7-form-control.wpcf7-submit,
form.wpcf7-form .fields-group .wpcf7-form-control.wpcf7-submit:focus,
form.wpcf7-form .fields-group .wpcf7-form-control.wpcf7-submit:active{
    width: 123px;
    color: #FFF;
    font-family: 'nexa_boldregular';
    padding: 4px 0px 3px 0px;
    background-color: #de5405;
    border: 1px solid #de5405;
}

form.wpcf7-form .fields-group .wpcf7-form-control.wpcf7-submit:hover {
    color: #de5405;
    background-color: #FFF;
}

form.wpcf7-form .fields-group .wpcf7-not-valid-tip {
    background-image: url(../images/input_error.png);
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0;
    color: transparent;
    position: absolute;
    left: auto;
    top: 8px;
    right: -30px;
}

.wpcf7-form-control-wrap {
    display: block;
}

div.wpcf7-validation-errors {position: absolute;bottom: 23px;font-size: 16px;text-transform: uppercase;padding: 0;margin: 0;max-width: calc(100% - 200px);right: 0;color: #ed6708;padding-right: 50px;height: 26px;border: none;}

div.wpcf7-mail-sent-ok {position: absolute;bottom: 19px;font-size: 16px;text-transform: uppercase;padding: 0;margin: 0;max-width: calc(100% - 200px);right: 0;color: #398f14;padding-right: 50px;height: 26px;border: none;}


.bx-wrapper {
    margin: 0 auto 25px;
}
.tpl-text-page h1 {
    font-family: 'nexa_boldregular';
    font-size: 27px;
    color: #525959;
    margin: 0 0 10px 0;
}

.tpl-text-page h2 {
    font-family: 'nexa_boldregular';
    font-size: 25px;
    color: #525959;
    margin: 0 0 10px 0;
}

.tpl-text-page h3 {
    font-family: 'nexa_boldregular';
    font-size: 22px;
    color: #525959;
    margin: 0 0 10px 0;
}
.prezentacja {
    width: 100%;
    margin-bottom: 80px;
}

.prezentacja div#slider_pager_prezentacja {
    margin: 0 auto;
    display: table;
}

.prezentacja div#slider_pager_prezentacja a.active,.prezentacja div#slider_pager_prezentacja a:hover {
    background-color: #de5405;
}

.prezentacja div#slider_pager_prezentacja a {
    display: inline-block;
    height: 36px;
    background-color: #525959;
    color: #FFF;
    font-family: 'nexa_boldregular';
    padding: 6px 15px;
    margin: 5px;
    min-width: 190px;
    text-align: center;
    text-decoration: none!important;
    transition: background-color 150ms;
}

ul#slider_prezentacja {}

ul#slider_prezentacja .popup {
    display: none;
}

ul#slider_prezentacja li {
    text-align: center;
}

ul#slider_prezentacja li img {
    margin: auto;
    cursor: pointer;
}

span.popup-close {
    background-image: url(../images/closemodal.png);
    height: 35px;
    width: 35px;
    display: block;
    position: absolute;
    top: 50px;
    right: 50px;
    cursor: pointer;
}

span.popup-close:hover {
    opacity: 0.8;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.44);
}

.popup .popup-body {
    max-width: 900px;
    margin: 16% auto;
}

.popup .popup-body > div {}

.popup .popup-body > div .popup-img {}

.popup .popup-body > div .popup-img img {}

.popup .popup-body > div .popup-desc {
    color: #FFF;
    font-size: 22px;
    line-height: 26px;
}

.popup .popup-body > div.img-left .popup-img,.popup .popup-body > div.img-right .popup-img {
    display: inline-block;
    width: 50%;
}

.popup .popup-body > div.img-left .popup-desc, .popup .popup-body > div.img-right .popup-desc {
    display: inline-block;
    width: 50%;
}

.popup .popup-body > div.img-left .popup-img {
    float: left;
}

.popup .popup-body > div.img-left .popup-desc {
    padding-left: 30px;
}
.popup .popup-body > div.img-right .popup-desc {
    padding-right: 30px;
}

.popup .popup-body > div.img-right .popup-desc {
    float: left;
}

.popup .popup-body > div.img-top .popup-img, .popup .popup-body > div.img-top .popup-desc, .popup .popup-body > div.img-bottom .popup-img, .popup .popup-body > div.img-bottom .popup-desc {
    width: 100%;
    margin-bottom: 20px;
}
.e404box {
    text-align: center;
}

.e404box strong {
    font-size: 60px;
    display: block;
    margin-top: 20px;
}

.e404box span {
    display: block;
    font-size: 20px;
}

.e404box a {
    display: table;
    background-color: #DE5405;
    color: #FFF;
    margin: 40px auto;
    padding: 9px 17px;
}

#nav-icon3 {
    width: 45px;
    position: absolute;
    top: 12px;
    right: 12px;
    margin: 0;
    height: 45px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon3 span {
    display: block;
    position: absolute;
    height: 6px;
    width: 100%;
    background: #d3531a;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(1) {
    top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 11px;
}

#nav-icon3 span:nth-child(4) {
    top: 23px;
}

#nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}